.CRUD_form_wrapper {
  margin-left: 50px;
  width: 100%;
}

.CRUD_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid gray;
}

.form_textarea {
  width: 100%;
  resize: vertical;
}

.form_submit_button {
  margin-top: 1rem;
}